@page "/"

<PageTitle>Home</PageTitle>

<div class="container mx-auto">
    <h1 class="text-8xl underline font-b">Welcome to my Blazor App!</h1>
    <p class="text-lg mt-4">This is the home page.</p>
</div>

@code {
    // Add your code here
}
